 /* 바디쓰면 안될듯 이거 묶어서 헤더랑 따로 해야할듯... */
 body{
    /* max-width: 1000px; */
    text-align: center;
    
}
/* 검색박스 */
.box{
    padding: 20px;
    width: 1100px;
    left: 20%;
    top: 50px;
    background: #B5B4B4;
    
    position: relative;
  
    display: flex;
    height: 40px;
    padding-left: 1%;
    
    

}

.selectbox{
    width: 200px;
    height: 45px;
    /* margin: 10px 100px 5px 10px; */
    /* border-radius: 8px; */
   margin-left: 15px;
   /* margin-top: 2px; */
    /* float: left; */
}
.inputbox{
    position: relative;
width: 700px; 
/* float: right; */
/* right: 100px; */
     width: 590px;
    height: 40px;
    margin-left: 20px;
    /* margin: 5px 30px 5px 10px; */
    /* border-radius: 8px; */
    /* margin-left: 100px;
    margin-top: 15px; */
    
}


/* 리스트 */

.list{
   float: left;
   width: 18%;
  margin-top: 6%;
  margin-left: 20%;
  overflow: scroll;
  height: 620px;
  padding-right: 3px;
    /* max-width: 300px; */
}
/* 아래의 모든 코드는 영역::코드로 사용 */
.list::-webkit-scrollbar {
width: 5px;  /* 스크롤바의 너비 */
padding-right: 5px;
}

.list::-webkit-scrollbar-thumb {
height: 5%; /* 스크롤바의 길이 */
background: #a19f9f; /* 스크롤바의 색상 */

border-radius: 10px;
}

.list::-webkit-scrollbar-track {
background: #bbb;  /*스크롤바 뒷 배경 색상*/
}
.list button {
border: 1px solid rgb(192, 189, 189);
background-color: rgba(0, 0, 0, 0);
color: black;
/* padding: 5px; */

width: 100%;
height: 130px;
}

.list button:focus {
color: black;
background-color: rgb(192, 189, 189);
}
.store{
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    
}  
.placeAddress{
    font-size: 12px;
    color: #777777;
    text-align: left;
}



/* 지도 */
.map{
    float: right;
    /* height: 600px; */
    /* margin-right: 1%; */
    /* margin-top: 10%; */
   
  
}





 /* 옆에 홈페이지 위치표시 */
 .subtab .tablist .backcolor{
    background-color: #983b43;
    width: 330px;
    height: 37px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 255px;
    left: 1200px;
    bottom: -18px;
    z-index: 100;
    /* margin: 0 -600px 0 0; */
}


.subtab .tablist .list1{
    z-index: 100;
    position: absolute;
    top: 262px;
    left: 1220px;
}

/* .subtab .tablist .list2{
    z-index: 100;
    position: absolute;
    top: 250px;
    left: 1040px;
    font-size: 15px;
    
} */
.subtab .tablist .list3{
    z-index: 100;
    position: absolute;
    top: 250px;
    left: 1250px;
    font-size: 14px;
    font-weight: bold;
    color: #f1f2f2;
}

.textOnimage1{
    font-weight: 650;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 90px;
    left: 50%;
    margin: 0 0 0 -600px;
    font-style: 'NanumGothic', 'dotum', 'Arial', 'sans-serif';
}
.textOnimage2{
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    top: 154px;
    left: 50%;
    margin: 0 0 0 -600px;
}



/* 하단 푸터 */
.footer{

    width: 665px;
    height: 0px;
}
#footer_left{
    width: 600px;
    height: 165px;
    float: left;
    position: relative;
    background: #575757;
    top: 100px;
   
}

/* 오른쪽박스 */
#footer_right {
    top: -165px;
    left: 750px;
    width: 1300px;
    height: 166px;
    /* float: left; */
    position: relative;
    background: #f1f2f2;
}
#footer_right .ft_menu ul {

    list-style-type:none;
    top: 36px;
    left: 25px;
}
/* 회사소개 제휴/제안 */
.ft_menu li {
    margin: 0 0 0 41px;
    float: left;
    position: relative;
    font-size: 15px;
    top: 280px;
    left: -600px;
    color: #444444;
    
}
#footer_right .ft_menu li a {
    display: block;
    font-weight: 700;
    font-size: 15px;
    color: #444444;
    line-height: 21px;
}
/* 하단푸퍼 고객센터 */
#footer_right .center {

    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    position: absolute;
    top: 450px;
    left: -100px;
    color: #666666;
}

/* 하단푸퍼 전화번호 */
#footer_right .center .tell {

    margin-top: 300px;
    /* display: inline-block; */
    padding: 0 0 0 18px;
    margin: 0 0 0 10px;
    color: #666666;
}
/* 하단푸퍼 운영시간 */
#footer_right .center .time {
    display: inline-block;
    margin: 0 0 0 10px;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-weight: lighter;
    
}

/* 하단푸퍼 주소,대표,사업자,판매번호 */
#footer_right .address{
    float: left;  
    /* top: 100px; */
}
#footer_right .address span {
    top: 220px;
    left: -130px;
    display: block;
    float: left; 
    margin: 0 0 0 31px;
    font-size: 13px;
    color: #666666;
    position: relative;
    font-weight: lighter;
}