/* basic */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    font-family: 'NanumGothic', 'dotum', 'Arial', 'sans-serif';
}

#wrap {
    min-height: 100%;
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 165px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mainMenu ul li a {
    color: #585454;
    font-weight: bold;
    font-family: 'NanumGothic', 'dotum', 'Arial', 'sans-serif';
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    text-align: left;
}



/* header */
#mainMenu {
    width: 100%;
    height: 110px;
    background-color: rgb(254, 254, 254);
    position: fixed;
    z-index: 10;
    left: 0px;
}

#mainMenu ul {
    display: inline-block;
    margin: 20px;
}

#mainMenu ul li {
    left: 98px;
    float: left;
    height: 100%;
    line-height: 65px;
    text-align: center;
    position: relative;

}

#Brand {
    top: 3px;
    width: 100px;
    font-size: 16px;
    letter-spacing: 1px;    /*글자사이간격*/
}

#Menu {
    top: 3px;
    width: 113px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgb(254, 254, 254)
}

#Store {
    top: 3px;
    width: 98px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgb(254, 254, 254)
}

#Membership {
    top: 3px;
    font-size: 16px;
    letter-spacing: 1px;
    width: 160px;
    background-color: rgb(254, 254, 254)
}

#Benefit {
    top: 3px;
    font-size: 16px;
    width: 120px;
    letter-spacing: 1px;
    background-color: rgb(254, 254, 254)
}

#EventNews {
    top: 3px;
    width: 148px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: rgb(254, 254, 254)
}

#공지사항 {
    top: 3px;
    font-size: 13px;
    width: 120px;
}

.red:hover {
    color: red;     /* 공지사항 마우스 오버 시 컬러변경 */
}

#facebook {
    top: 7px;
    width: 60px;
}

#instagram {
    top: 7px;
    width: 60px;
}

#kakao {
    top: 7px;
    width: 60px;
}


/* main */

/* 헤드 배너 : 메징 */
#background_img {
    position: relative;
    top: 110px;
    height: 264px
}

.textOnimage1 {
    font-weight: 650;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 210px;
    left: 50%;
    margin: 0 0 0 -600px;
    font-style: 'NanumGothic', 'dotum', 'Arial', 'sans-serif';
}

.textOnimage2 {
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    top: 270px;
    left: 50%;
    margin: 0 0 0 -600px;
}


/* 페이지 안내 :  > 매장안내 */
.subtab .tablist .backcolor {
    background-color: #983b43;
    width: 330px;
    height: 37px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 27%;
    right: 15%;
    z-index: 9;
}

.subtab .tablist .list1 {
    z-index: 9;
    position: absolute;
    top: 27.7%;
    right: 31%;
}

.subtab .tablist .list2 {
    z-index: 9;
    position: absolute;
    top: 27.7%;
    right: 30%;
    font-size: 15px;
}

.subtab .tablist .list3 {
    z-index: 9;
    position: absolute;
    top: 27.7%;
    right: 26%;
    font-size: 14px;
    font-weight: bold;
    color: #f1f2f2;
}

/* 검색박스 */
.box {
    padding: 20px;
    width: 1200px;
    left: 20%;
    top: 50px;
    background: #f3f4f7;
    position: relative;
    display: flex;
    height: 40px;
    padding-left: 1%;
}

.selectbox {
    width: 250px;
    height: 45px;
    margin-left: 15px;
    font-weight: 200;
    font-size: 16px;
    background: #ffffff;
    color: #666666;
}

.inputbox {
    position: relative;
    width: 590px;
    height: 40px;
    margin-left: 20px;

    font-size: 15px;
}

input:focus {
    outline: none;
}


/* 매장 리스트 */

.list {
    float: left;
    width: 16%;
    margin-top: 4%;
    margin-left: 20%;
    overflow: scroll;
    height: 520px;
    padding-right: 3px;
    padding-bottom: 100px;
    font-weight: 200;
    background-color: #f3f4f7;
}

.list::-webkit-scrollbar {
    width: 5px;     /* 스크롤바의 너비 */
    padding-right: 5px;
}

.list::-webkit-scrollbar-thumb {
    height: 5%;    /* 스크롤바의 길이 */
    background: #a19f9f;    /* 스크롤바의 색상 */
    border-radius: 10px;
}

.list::-webkit-scrollbar-track {
    background: #bbb;   /*스크롤바 뒷 배경 색상*/
}

.list button {
    border: 1px solid rgb(219, 215, 215);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    width: 100%;
    height: 130px;
}

.list button:focus {
    color: black;
    background-color: #a19f9f;
}

.store {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #222222;
    margin: 0 0 12px;
}

.placeAddress {
    display: block;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    overflow: hidden;
    text-align: left;
}

.storebutton {
    display: block;
    height: 123px;
    padding: 28px 20px;
    box-sizing: border-box;
    text-align: left
}

/* 지도 */
.map {
    float: right;
}


/* 우측고정탭 */
#float {
    position: fixed;
    _position: absolute;
    _z-index: -1;
    width: 170px;
    overflow: hidden;
    right: -22px;
    top: 144px;
    background-color: transparent;
    margin: 0;
    padding: 0;
}


/* footer */

/* footer 배경색 반반 */
.footer {
    background-image: linear-gradient(to right, #575757 30%, #f1f2f2 20%);
    width: 100%;
    height: 165px;
    bottom: 0px;
    position: absolute;
}

/* 로고 등 왼쪽 내용 */
#footer_left {
    display: flex;
}

.logo {
    padding-left: 14%;
    position: absolute;
    bottom: 7%;
}

.copyright {
    color: #B5B4B4;
    font-weight: normal;
    font-size: 13px;
    position: absolute;
    bottom: 8%;
    left: 18%;
}

/* 회사소개 | 제휴 등 오른쪽 내용 */
#footer_right {
    display: flex;
}

.ft_menu {
    position: absolute;
    right: 17.5%;
    bottom: 55%;
    font-weight: 700;
    line-height: 50px;
}

.ft_menu li {
    margin: 0 0 0 41px;
    float: left;
    position: relative;
    font-size: 15px;
    color: #444444;
}

#footer_right .ft_menu li a {
    color: #444444;
}

.center div {
    position: absolute;
    right: 56.8%;
    bottom: 40%;
    font-weight: 500;
}

.time {
    position: absolute;
    right: 27.5%;
    bottom: 30%;
    font-size: 14px;
}

.address {
    position: absolute;
    right: 21.5%;
    bottom: 14%;
    font-size: 14px;
}

/* 드래그 색상 변경 */
::selection {
    background: #983b43;
    color: #ffffff;
}